html{
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
}

.container {
  max-width: 960px;
}

@font-face {
  font-family: 'Akrobat Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Akrobat Regular'), url('Akrobat-Regular.woff') format('woff');
}

.Akrobat {
  font-family: 'Akrobat Regular', sans-serif;
}

/* Colors */

.btn-rosa{
  color: white;
  background-color: #EEA7B8;
  border-radius: 2px;
  padding: 7px;
  font-size: 14px;
}

.btn-rosa:hover{
  background-color: #cc8495;
  color: white;
}

.btn-rosa a:hover{
  color:white;
}

.textPink{
  color: #EEA7B8;
}

.backgroundPink{
  background-color: #EEA7B8;
}

.textDarkGrey{
  color: #454545;
}

.backgroundDarkGrey{
  background-color: #454545;
}

.textGrey{
  color:#EDEDED;
}

.backgroundGrey{
  background-color: #EDEDED;
}

.backgroundLogo {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('img/opacidadelogo.png');
  background-repeat: no-repeat;
  background-position: center;
}

.layerCor {
  background-color: rgb(69, 69, 69);
  width: 100%;
  height: 100%;
}

/* NAVBAR */
.navbar {
  padding-top: 20px;
  padding-bottom: 2px;
  background-color: transparent;
  margin: 0px;
  color: #333;
  transition: all 0.3s;
  z-index: 9999;
}


/* tags para mudanças ao descer scroll com jquery para mudar cores */
.navbar.compressed {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #454545;
  color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.navbar-brand.changecolorlogo {
  height: auto;
  filter: brightness(0) invert(1);
}

.navbar-nav.changecolormenu a,
.navbar-nav.changecolormenu a.active {
  color: white !important;
}

/* ALINGS DE TEXTO */

.text-align-right{
  text-align: right;
}


.text-align-left{
  text-align: left;
}


.form-infos-text{
  font-size: 15px;
}

.infos-form ul{
  list-style-type: none;
}

.infos-form ul>li p{
  margin: 0!important;
}

.infos-form ul>li h5{
  margin-top: 10px!important;
  margin-bottom: 0!important;
}

.comSerifa {
  font-family: 'EB Garamond', serif;
  font-style: italic;
}

.bg-header{
  background-image: url("img/bgheader.png");
  background-size: cover;
  background-repeat: no-repeat;
  height:700px;
}

.form-title-pink{
  color:#cc8495;
}

.logonav{
  height:50px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

.col-center {
  margin: 0 auto;
  float: none !important;
}
.carousel {
  margin: 50px auto;
  padding: 0 70px;
}
.carousel .item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 290px;
}
.carousel .item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}
.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
/*.carousel .testimonial {*/
  /*padding: 30px 0 10px;*/
/*}*/
.carousel .overview {
  font-style: italic;
}
.carousel .overview b {
  text-transform: uppercase;
  color: #7AA641;
}
.carousel .carousel-control {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  background: none;
}
.carousel-control i {
  padding: 3px 18px;
  border-radius: 50px;
  font-size: 39px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: #cc8495;
  background-color: white;
  box-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
  bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
  width: 10px;
  height: 10px;
  margin: 1px 3px;
  border-radius: 50%;
}
.carousel-indicators li {
  background: #999;
  border-color: transparent;
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {
  background: #555;
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

/* categorias */

.salao {
  position:relative;
  background-image: url('img/salao.jpeg');
  background-size: cover;
  background-position: center;
  height:500px;
  transition: background-color 0.8s;
}

.salao:hover {
  background-color: rgba(204, 132, 149, 0.4);
}

.salao:before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: inherit;
  content: ' ';
}

.corporal {
  position:relative;
  background-image: url('img/corporal.jpg');
  background-size: cover;
  background-position: center;
  height:500px;
  transition: background-color 0.8s;
}

.corporal:hover {
  background-color: rgba(204, 132, 149, 0.4);
}

.corporal:before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: inherit;
  content: ' ';
}

.esmalteria {
  position:relative;
  background-image: url('img/esmalteria.jpg');
  background-size: cover;
  background-position: center;
  height:500px;
  transition: background-color 0.8s;
}

.esmalteria:hover {
  background-color: rgba(204, 132, 149, 0.4);
}

.esmalteria:before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: inherit;
  content: ' ';
}

.facial {
  position:relative;
  background-image: url('img/facial.jpg');
  background-size: cover;
  background-position: center;
  height:500px;
  transition: background-color 0.8s;
}

.facial:hover {
  background-color: rgba(204, 132, 149, 0.4);
}

.facial:before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: inherit;
  content: ' ';
}

h5.form-title-pink.font-weight-normal{
  font-size: 17px;
}


li p{
  font-size: 14px;
  font-weight: normal;
}
