
/***********************************

  General

***********************************/

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
}

.container {
  max-width: 960px;
}

@font-face {
  font-family: 'Akrobat Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Akrobat Regular'), url('Akrobat-Regular.woff') format('woff');
}

.Akrobat {
  font-family: 'Akrobat Regular', sans-serif;
}

.overflow-hidden {
  overflow: hidden;
}

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.col-center {
  margin: 0 auto;
  float: none !important;
}

/***********************************

 Colors & Text

***********************************/
.textPink{
  color: #EEA7B8;
}

.backgroundPink{
  background-color: #EEA7B8;
}

.textDarkGrey{
  color: #454545;
}

.backgroundDarkGrey{
  background-color: #454545;
}

.textGrey{
  color:#EDEDED;
}

.backgroundGrey{
  background-color: #EDEDED;
}

.text-align-right{
  text-align: right;
}


.text-align-left{
  text-align: left;
}

.comSerifa {
  font-family: 'EB Garamond', serif;
  font-style: italic;
}

li p{
  font-size: 14px;
  font-weight: normal;
}

/***********************************

 Buttons

***********************************/
.content-details a{
  text-decoration: none;
}

.btnSeeMore{
  font-weight: 600;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  font-size: 14px;
  letter-spacing: 1.8px;
  border-radius: 0;
}

.btnSeeMore a:hover{
  color:#EEA7B8;
}

.btnSeeMore:hover {
  background-color: white;
  color: #EEA7B8;
}

.btn-rosa{
  color: white;
  background-color: #EEA7B8;
  border-radius: 2px;
  padding: 7px;
  font-size: 14px;
}

.btn-rosa:hover{
  background-color: #cc8495;
  color: white;
}

.btn-rosa a:hover{
  color:white;
}

/***********************************

 Navbar

***********************************/
.navbar {
  padding-top: 20px;
  padding-bottom: 2px;
  background-color: transparent;
  margin: 0;
  color: #333;
  transition: all 0.3s;
  z-index: 9999;
}

a.nav-link{
  color:white!important;
  letter-spacing: 1.3px;
}

/* tags para mudanças ao descer scroll com jquery para mudar cores */
.navbar.compressed {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #454545;
  color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.navbar-brand.changecolorlogo {
  height: auto;
  filter: brightness(0) invert(1);
}

.navbar-nav.changecolormenu a,
.navbar-nav.changecolormenu a.active {
  color: white !important;
}

.bg-header{
  background-image: url("img/bgheader.png");
  background-size: cover;
  background-repeat: no-repeat;
  height:700px;
  background-position: center;
}

.logonav{
  height:50px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/***********************************

 Toggler

***********************************/
.navbar-toggler {
  height:50px;
}

/***********************************

 Services

***********************************/

.salao {
  position:relative;
  background-image: url('img/salao.jpeg');
  background-size: cover;
  background-position: center;
  height:500px;
  transition: background-color 0.8s;
}

.salao:hover {
  background-color: rgba(204, 132, 149, 0.4);
}

.salao:before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: inherit;
  content: ' ';
}

.corporal {
  position:relative;
  background-image: url('img/corporal.jpg');
  background-size: cover;
  background-position: center;
  height:500px;
  transition: background-color 0.8s;
}

.corporal:hover {
  background-color: rgba(204, 132, 149, 0.4);
}

.corporal:before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: inherit;
  content: ' ';
}

.esmalteria {
  position:relative;
  background-image: url('img/esmalteria.jpg');
  background-size: cover;
  background-position: center;
  height:500px;
  transition: background-color 0.8s;
}

.esmalteria:hover {
  background-color: rgba(204, 132, 149, 0.4);
}

.esmalteria:before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: inherit;
  content: ' ';
}

.facial {
  position:relative;
  background-image: url('img/facial.jpg');
  background-size: cover;
  background-position: center;
  height:500px;
  transition: background-color 0.8s;
}

.facial:hover {
  background-color: rgba(204, 132, 149, 0.4);
}

.facial:before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: inherit;
  content: ' ';
}

/*test*/

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}


.main-title{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

.sessoes.container{
  height: 300px;
  padding: 0;
  float: left;
  width: 50%;
}
@media screen and (max-width: 640px){
  .sessoes.container{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .sessoes.container{
    width: 33.33333%;
  }
}

.sessoes.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.sessoes.container {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.sessoes.container .content-overlay {
  background: rgba(204, 132, 149, 0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.sessoes.container:hover .content-overlay{
  opacity: 1;
}

.content-image{
  height: auto;
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.sessoes.container:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}

/***********************************

 Testimonials

***********************************/

.carousel {
  margin: 50px auto;
  padding: 0 70px;
}
.carousel .item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 290px;
}
.carousel .item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}
.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

/*.carousel .testimonial {*/
  /*padding: 30px 0 10px;*/
/*}*/

.carousel .overview {
  font-style: italic;
}
.carousel .overview b {
  text-transform: uppercase;
  color: #7AA641;
}
.carousel .carousel-control {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  background: none;
}
.carousel-control i {
  padding: 3px 18px;
  border-radius: 50px;
  font-size: 39px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: #cc8495;
  background-color: white;
  box-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
  bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
  width: 10px;
  height: 10px;
  margin: 1px 3px;
  border-radius: 50%;
}
.carousel-indicators li {
  background: #999;
  border-color: transparent;
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {
  background: #555;
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

/***********************************

 Background Form

***********************************/

.backgroundLogo {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('img/opacidadelogo.png');
  background-repeat: no-repeat;
  background-position: center;
}

.layerCor {
  background-color: rgb(69, 69, 69);
  width: 100%;
  height: 100%;
}

/***********************************

 Form

***********************************/

h5.form-title-pink.font-weight-normal{
  font-size: 17px;
}

.infos-form ul{
  list-style-type: none;
}

.infos-form ul>li p{
  margin: 0!important;
}

.infos-form ul>li h5{
  margin-top: 10px!important;
  margin-bottom: 0!important;
}

.assunto-form{
  height: 46px;
  padding: 0 35px 0 25px;
  background: transparent!important;
  color: white;
}

.assunto-form option{
  color:white;
  line-height:3!important;
  background-color: #454545;
}

.box-redes-sociais{
  position: absolute;
  bottom: 0;
  margin-left: 60px;
}

.text-redes{
  font-size: 13px;
  letter-spacing: 0.8px;
  font-weight: 600;
  font-feature-settings: inherit;
  font-stretch: extra-condensed;
}

::placeholder{
  color:white!important;
}

i.fab {
  font-size: 35px;
}

i.fab:hover {
  color:#a05667;
}

textarea {
  resize: none;
}

/***********************************

 M O B I L E

***********************************/
@media only screen and (max-width: 750px) {
  #florzinha{
    order:20!important;
  }

  #florzinha img{
    max-height: 200px!important;
  }

  .bg-header {
    background-image: url("img/header_dezembro_mobile.png");
    background-position: center;
  }

  .navbar {
    padding: 20px 25px;
    background-color: #3d3d3d;
    margin: 0;
    transition: all 0.3s;
    z-index: 9999;
  }

  .navbar-light .navbar-nav .nav-link{
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin-left: 10px;
    letter-spacing: 3.8px;
  }

  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color:white;
    font-weight: 600;
  }

  .btn-rosa {
    color: white;
    background-color: #EEA7B8;
    border-radius: 2px;
    padding: 12px 38px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 15px;
    letter-spacing: 3.8px;
  }

  #infos-gerais{
    text-align: left;
    margin: 35px;
    padding: 0!important;
    float: none!important;
    width: 100%;
  }

  #form-mobile{
    width: 80%;
    margin:auto;
  }

  .box-redes-sociais {
    position: inherit;
    bottom: 0;
    margin: 35px 0;
  }

  .carousel {
    margin: 25px auto;
    padding: 0;
  }

  ul.navbar-nav.ml-auto{
    margin: 25px 0;
  }
}

@media only screen and (min-width: 750px) {
  #florzinha img {
    max-height: 250px;
    bottom: 0;
    left: 5px;
    position: absolute;
  }
}