.esmal-header{
    background-image: linear-gradient(to bottom right, rgba(238, 167, 184, .5), rgba(238, 167, 184, .5)), url('img/servicos/esmalteria/ESMALTERIA_HEADER.jpg');
    background-size: cover;
    height: 500px;
}

.salao-header{
    background-image: linear-gradient(to bottom right, rgba(238, 167, 184, .5), rgba(238, 167, 184, .5)), url('img/servicos/salao/SALAO_HEADER.jpg');
    background-size: cover;
    height: 500px;
    background-position: center;
}

.corporal-header{
    background-image: linear-gradient(to bottom right, rgba(238, 167, 184, .5), rgba(238, 167, 184, .5)), url('img/servicos/corporal/CORPORAL_HEADER.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
}

.facial-header{
    background-position: center;
    background-image: linear-gradient(to bottom right, rgba(238, 167, 184, .5), rgba(238, 167, 184, .5)), url('img/servicos/facial/FACIAL_HEADER.jpg');
    background-size: cover;
    height: 500px;
}

.al1{
    background-size: cover;
    height: 200px;
    width: 200px;
    background-image: url("img/servicos/esmalteria/banho_gel.jpg");
    background-position: center;
}

.navCategorias a:hover{
    color:white;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    border-radius: 20px;
    padding: 5px 15px;
    color: white;
    background-color: #EEA7B8;
}

.nav-pills .nav-link{
    color:#454545;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.8px;
}

.nav-pills a.nav-link {
    color: #454545!important;
}

.nav-pills a.nav-link.active {
    color: white!important;
}

.btnAgendamento{
    background-color: transparent;
    color: #EEA7B8;
    border: 1px solid #EEA7B8;
    font-size: 18px;
    letter-spacing: 1.8px;
    border-radius: 0;
}

.btnAgendamento a:hover{
    color:white;
}

.btnAgendamento:hover {
    background-color: #EEA7B8;
    color: white;
}

.table thead th {
    border-bottom:none!important;
}
.table td, .table th {
    border-top:none!important;
}

.table {
    width: 60% !important;
    margin:auto;
}

/***********************************

 M O B I L E

***********************************/
@media only screen and (max-width: 750px) {
    h2 .corporal-header {
        line-height: 2;
        margin-top: 200px;
    }
}